body {
    margin: 0;
    background-color: brown;
}
table {
    
    padding: 30px;
    border-spacing: 20px;
    width: 100%;;
    margin: 50px auto 0 auto;
    border-radius: 15%;
    border: 3px dashed black;
    background-color: blueviolet;
}
th,td {
    border: 2px solid orange;
}
th {
    width: 200px;
}
.bottom {
height: 100px;
vertical-align: bottom;
}
caption {
    font-size: 30px;
    caption-side: bottom;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}
tr:hover {
    background-color: cornflowerblue;
}

tr+.bottom:hover {
    background-color: orangered;
}