*{
  box-sizing: border-box;  
}
body{
    margin: 0;
    text-align: center;
}
h1{
    transition: color 1s;
}
h1:hover{
    color: darkgreen;
}

.container{
    background-color: black;
    color: chartreuse;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.size{
    width: 100px;
    height: 70px;
    background-color: darkblue;
    border-radius: 2em;
    transition: background-color 3s, width 2s, height 3s;
}

.size:hover{
    width: 8em;
    height: 8em;
    background-color: darkred;
}

.rotate{
    width: 200px;
    height: 70px;
    background-color: darkblue;
    border-radius: 2em;
    transition: background-color 3s,transform 3s ;
}
.rotate:hover{
    transform: rotate(360deg);
}

.shape{
    width: 100px;
    height: 70px;
    background-color: darkblue;
    border-radius: 2em;
    transition: background-color 3s, width 2s, height 3s, border-radius 4s;
}

.shape:hover{
    
        width: 8em;
        height: 8em;
        background-color: darkred;
        border-radius: 50%;
    
}