*{
    box-sizing: border-box;  
  }
  body{
      margin: 0;
      text-align: center;
      background-color: black;
  }
  header{
      color: chartreuse;
      
      /* background-image: linear-gradient( blue,black); */
      height: 25vh;
      width: 100vw;
      padding:50px 0;
      background :linear-gradient( rgba(0, 0, 255, 1),black);
      animation: textcolor 10s infinite;
      /* animation: backgroundrad 10s infinite,textcolor 10s infinite;   */
  }
  /* h1{
    animation: textcolor 10s infinite;
  } */

  /* @keyframes backgroundrad{
      from{background: linear-gradient( blue,black);}
      to{background: linear-gradient( rgba(0, 0, 255, 0.693),black);}
  } */
  

@keyframes textcolor{
    0%{color: chartreuse;background: linear-gradient( rgba(0, 0, 255, 1),black);}
    25%{color: rgb(221, 255, 0);background: linear-gradient( rgba(0, 0, 255, 0.8),black);}
    50%{color: rgb(255, 196, 0);background: linear-gradient( rgba(0, 0, 255, 0.6),black);}
    75%{color: rgb(255, 81, 0);background: linear-gradient( rgb(0, 0, 255, 0.4),black);}
    80%{color: rgb(255, 196, 0);background: linear-gradient( rgb(0, 0, 255, 0.6 ),black);}
    90%{color: rgb(221, 255, 0);background: linear-gradient( rgb(0, 0, 255, 0.8),black);}
    100%{color: chartreuse;background: linear-gradient( rgba(0, 0, 255, 0.693, 1),black)}

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75vh;
}
.rotating-stick{
    width: 100px;
    height: 2px;
    background-color: orange;
    rotate: 0;
    animation: rotation 200ms infinite;
}

@keyframes rotation{
    0%{transform:rotate(0deg); }
    25%{transform:rotate(90deg) ;}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
}

.skillbar{
    width: 560px;
    height: 20px;
    background-image: linear-gradient( 90deg, orange 0 ,blue 0);
    animation: skill 4s infinite;
}

@keyframes skill{
    0%{background-image:linear-gradient( 90deg, orange 0,blue 0);}
    10%{background-image:linear-gradient( 90deg, orange 10%,blue 10%);}
    20%{background-image:linear-gradient( 90deg, orange 20%,blue 20%)}
    30%{background-image:linear-gradient( 90deg, orange 30%,blue 30%)}
    40%{background-image:linear-gradient( 90deg, orange 40%,blue 40%)}
    50%{background-image:linear-gradient( 90deg, orange 50%,blue 50%)}
    60%{background-image:linear-gradient( 90deg, orange 60%,blue 60%)}
    70%{background-image:linear-gradient( 90deg, orange 70%,blue 70%)}
    80%{background-image:linear-gradient( 90deg, orange 80%,blue 80%)}
    90%{background-image:linear-gradient( 90deg, orange 90%,blue 90%)}
    100%{background-image:linear-gradient( 90deg, orange 100%,blue 100%)}
}