body{
    background-color: black;
    margin: 0;
    text-align: center;
    max-width: 1200px;
}
.columns{
    display: flex;
}
.sidebar{
    border: solid 3px darkblue;
    border-radius: 25px;
    height: 200px;
    position: fixed;
    background-color: burlywood;
    padding: 20px;
}
.container {
    width: 75%;
    margin-left:20%;
    background-color: black;
    color: greenyellow;
    padding: 10px;
}
ul {
    list-style: none;
    padding: 50px 0;
}
.oppg1{
    border: darkred 1px solid;
    width: 25%;
    margin: 0 auto;

}
